// colors
$brown: #27201E;
$brown_light: #603D36;
$grey: #EAE7E2;
$yellow: #F1C27A;
$green: #005532;
$green_dark: #005532;
$green_light: #E8F8CC;
$red: #D21E19;
$black: #040404;

// fonts
$reg: 'OpiumNew-Regular';
$bold: 'OpiumNew-Bold';

// grid
$max: 1670px;
$xlg: 1400px;
$lg: 1279px;
$md: 1023px;
$sm: 767px;
$xs: 376px;